body {
  margin: 0;
  font-family: urw-din, sans-serif !important;
  background-color: #d1d9f0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
